./Completed-Code/Azure/provider.tf
provider.tf
./Completed-Code/Azure/.terraform/providers/registry.terraform.io
./Completed-Code/Azure/.terraform.lock.hcl
./Completed-Code/Azure/terraform.tfstate
registry.terraform.io
.terraform.lock.hcl
terraform.tfstate
./Completed-Code/Azure/.terraform/
./Completed-Code/Azure_bk
Completed-Code/Azure/.terraform.lock.hcl
Completed-Code/Azure/.terraform/providers/registry.terraform.io
Completed-Code/Azure/terraform.tfstate
Completed-Code/Azure/.terraform/
.terraform/
variables.tf
Completed-Code/Azure/variables.tf
Completed-Code/Azure/main.tf
Lab-import/provider.tf
Lab-import/.terraform
Lab-import/.terraform.lock.hcl
Lab-import/.terraform.lock.terraform.tfstate
